* {
    box-sizing: border-box;
}

back

/* Styling for media greater than 768px (e.g. 992px)*/
body {
    font-size: ;
    line-height: ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://wallpaperaccess.com/full/860435.jpg");
}

h1 { font-family: Georgia, 'Times New Roman', Times, serif;
    
}

@media screen and (max-width: 768px) {
    .
}

@media screen and (max-width: 400px) {
    f
}